<!DOCTYPE html>
<html>
<head>
    <title>Stock Charts</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);
        function drawCharts() {
        {{- range $symbol, $info := . }}
  				{{- range $data := $info }}
						var data_{{ $symbol }} = new google.visualization.DataTable();
						data_{{ $symbol }}.addColumn('string', 'Date');
						data_{{ $symbol }}.addColumn('number', 'Low');
						data_{{ $symbol }}.addColumn('number', 'High');
						data_{{ $symbol }}.addColumn('number', 'Volume');
						data_{{ $symbol }}.addRows([
								{{- range $data.Data }}
								['{{ .Date }}', {{ .Low }}, {{ .High }}, {{ .Volume }}],
								{{- end }}
						]);
						var options_{{ $symbol }} = {
								title: '[{{ $symbol }}] {{ $data.Name }}',
								hAxis: {title: 'Date'},
								vAxes: {
										0: {title: 'Price', format: 'currency'},
										1: {title: 'Volume'}
								},
								series: {
										0: {targetAxisIndex: 0, type: 'line', color: 'Crimson'},
										1: {targetAxisIndex: 0, type: 'line', color: 'Navy'},
										2: {targetAxisIndex: 1, type: 'bars', color: 'Moccasin'}
								}
						};
						var chart_{{ $symbol }} = new google.visualization.ComboChart(document.getElementById('chart_div_{{ $symbol }}'));
						chart_{{ $symbol }}.draw(data_{{ $symbol }}, options_{{ $symbol }});
        	{{- end }}
        {{- end }}
    }
    </script>
</head>
<body>
    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
        {{range $symbol, $_ := .}}
        <div id="chart_div_{{ $symbol }}" style="height: 300px;"></div>
        {{end}}
    </div>
</body>
</html>